.Uploader {
  box-shadow: var(--shadow);
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  position: fixed;
  bottom: 100px;
  right: 50px;
}
.Uploader_header {
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
}
.Uploader_files {
  padding: 10px 10px;
  max-height: 220px;
  overflow-y: scroll;
  border-radius: 20px;
}
.Uploader_close {
  display: grid;
  place-items: center;
  border: #fff 1px solid;
  padding: 2px 4px;
  border-radius: 5px;
  background: var(--blue);
  color: #fff;
}
.Uploader_close:hover {
  background: #fff;
  color: var(--red);
}
