.navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar_container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.navbar_item > * {
  padding: 10px;
}
.navbar_auth {
  display: flex;
}
.navbar_link {
  margin: 0 5px;
}
.navbar_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_ava {
  margin-left: auto;
  display: flex;
}
.navbar_logout {
  margin: 10px;
  color: var(--blue);
}
.navbar_logout:hover {
  margin: 10px;
  color: var(--red);
  cursor: pointer;
}
.navbar_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--green);
}

.logo {
  max-width: 150px;
}
h2 {
  font-size: 18px;
}
.spanGreen {
  color: var(--green);
}
.spanBlue {
  color: var(--blue);
}

@media screen and (max-width: 360px) {
  .navbar_container {
  }
  .navbar_auth {
    flex-direction: column;
  }
  .navbar_link {
    margin: 10px 5px;
  }
}
@media screen and (max-width: 450px) {
  .navbar_item > * {
    padding: 5px;
  }
  .navbar_link {
    font-size: 13px;
  }
  .logo {
    max-width: 130px;
  }

  .navbar_ava {
    flex-direction: column;
    position: absolute;
    top: 17px;
    right: 25px;
  }
  .navbar_avatar {
    width: 50px;
    height: 50px;
  }

  .navbar_item input {
    justify-self: flex-end;
    padding: 10px 0 10px 15px;
  }
}
