.fileList {
  margin: 20px 0;
}
.fileList_header {
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fileList_name {
  grid-column-start: 2;
}
.fileList_date {
  grid-column-start: 5;
  justify-self: center;
}
.fileList_size {
  grid-column-start: 6;
  justify-self: center;
}

.file-enter-active {
  animation: file-enter 500ms forwards;
}
.empty {
  margin-top: 15px;
  box-shadow: var(--shadow);
  height: 80vh;
  display: grid;
  place-items: center;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.folder-vue {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
