:root {
  --red: #f00;
  --green: #7ed957;
  --blue: #38b6ff;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  background: var(--blue);
  color: #fff;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover {
  background: var(--green);
  color: #000;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
